<li>
	{{burger_name}}

	<button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Eat It{{/if}}
</button>
	{{!-- <button class="delete-cat" data-id="{{id}}">DELETE!</button> --}}

	{{!-- <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if !devoured}}YUM{{/if}} --}}
</button>



</li>